* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --primary: rgba(173, 8, 8, 0.801);
    --secondary: black;
    --light: #2f3640;
}

.nav1 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 2px 0px 3px gray;
    text-align: center;
}

.nav1 .left {
    flex-basis: 50%;
    letter-spacing: 2px;
}

.nav1 .left a {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    margin: 0px 5px;
}

.right {
    flex-basis: 50%;
}

.right i {
    font-size: 20px;
    margin: 0px 15px;
    background-color: var(--primary);
    color: white;
    padding: 8px;
    cursor: pointer;
    transition: 0.2ss ease-in-out;
}

.nav1 .right i:hover {
    transform: rotate(360deg);
}


h1 {
    text-align: center;
    color: var(--secondary);
    margin-top: 20px;
}

span {
    color: var(--primary);
}

#btn1 {
    button {
        background-color: #04aa6d;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: auto;
        margin-left: 45%;
    }
}

button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover {
    color: red;
    cursor: pointer;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 14px 0px;
    margin: 10px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: medium;
}

button[type=submit],
input[type=checkbox] {
    width: 100%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

footer {
    background-color: var(--secondary);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem;
    margin-bottom: 20px;
}

footer div {
    flex-basis: 30%;
    margin-inline-end: auto;
}

footer h1 {
    letter-spacing: 0.5rem;
    color: yellowgreen;
}

footer h1 span {
    color: var(--primary);
}

footer p {
    font-size: 1rem;
}

footer i {
    margin: 0px 5px;
}